.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 30px;
    display: inline-block;
    padding: 3px 10px;
    background: #555;
    color: white;
}

article {
    float: left;
}

article h3 {
    font-size: 18pt;
}


#right ul {
    list-style-type: none;
    padding: 0;
}

#right ul li {
    padding: 0x;
}

article {
    margin-bottom: 20px;
}

article img {
    margin-bottom: 20px;
}

article ul.categories {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    float: right;
}

article ul.categories li {
    display: inline;
}

article ul.categories li:after {
    content: ",";
}

article ul.categories li:last-child:after {
    content: "";
}

article .published {
    margin-right: 10px;
}

article .authors {
    list-style-type: none;
    float: right;
}

article .authors li {
    display: inline;
}

article .authors li:after {
    content: ",";
}

article .authors li:last-child:after {
    content: "";
}

article .leading img {
    float: left;
    margin: 0 10px 0 0;
}

#list .published {
    width: 150px;
}

#list td {
    padding-bottom: 10px;
}

th, td {
    vertical-align: top;
}

#categories {
    list-style-type: none;
    padding: 0;
}

#categories li {
    display: inline-block;
    margin-right: 5px;
    background: #0056b3;
    padding: 5px 10px;
}

#categories li a {
    color: white;
}

#article .leading {
    font-weight: bold;
}

#edit #title, #create #title {
    width: 100%;
    margin-bottom: 10px;
}

#edit textarea#lead, #create textarea#lead {
    width: 100%;
    height: 100px;
}

#edit textarea#content, #create textarea#content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
}

#edit label, #create label {
    margin-top: 10px;
}

#create input[type=file] {
    margin-bottom: 10px;
    display: block;
}

#pages {
    list-style-type: none;
    padding: 0;
}

#pages li {
    display: inline-block;
    background: #007bff;
}

#pages li.current {
    background: #0056b3;
}

#pages li a {
    color: white;
    padding: 5px 10px;
    display: block;
}

#login input {
    margin-bottom: 10px;
}