.container {
    margin-top: 20px;
}

article {
    float: left;
}

#right ul {
    list-style-type: none;
    padding: 0;
}

#right ul li {
    padding: 0 0 0 20px;
}

article img {
    margin-bottom: 20px;
}
article .lead {
    
}

article ul.categories {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

article ul.categories li {
    display: inline;
}

article ul.categories li:after {
    content: ",";
}

article ul.categories li:last-child:after {
    content: "";
}

article .published {
    margin-right: 10px;
}

article .lead img {
    float: left;
    margin-right: 10px;
}

#list .published {
    width: 150px;
}

#list td {
    padding-bottom: 10px;
}

th, td {
    vertical-align: top;
}