<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div layout:fragment="content" id="article">
            <article>
                <header>
                    <div>
                        <span class="published" th:text="${#temporals.format(article.published, 'd.M. yyyy HH:mm')}"></span>
                        <ul class="categories">
                            <li th:each="cat : ${article.categories}">
                                <a th:href="@{/alue/{id}(id=${cat.id})}" th:text="${cat.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <h3>
                        <a th:href="@{/uutinen/{id}(id=${article.id})}" th:text="${article.title}"></a>
                    </h3>
                </header>
                <section class="leading">
                    <img th:src="@{/picture/{id}(id=${article.picture.id})}" />
                    
                    <p th:utext="${#strings.replace(#strings.escapeXml(article.lead), '&#10;', '</p><p>')}"></p>
                </section>
                <section class="content">
                    <p th:utext="${#strings.replace(#strings.escapeXml(article.content), '&#10;', '</p><p>')}"></p>
                </section>
                <footer>
                    <ul class="authors">
                        <li th:each="author : ${article.authors}" th:text="${author.name}">
                        </li>
                    </ul>
                </footer>
            </article>
        </div>
    </body>
</html>

