<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div layout:fragment="content" id="edit">
            
            <div th:if="${errors != null}" class="alert alert-danger">
                <strong>Virhe</strong>
                
                <ul>
                    <li th:each="error : ${errors}" th:text="${error}"></li>
                </ul>
            </div>
            
            <h4>Muokkaa uutista</h4>
            
            <form method="post" th:action="@{/uutinen/{id}/muokkaa(id=${article.id})}" enctype="multipart/form-data">
                <div>
                    <label>Otsikko</label>
                    <input id="title" type="text" name="title" th:value="${ctitle == null}? ${article.title} : ${ctitle}"/>
                </div>
                <div th:with="lead=${clead == null}? ${article.lead} : ${clead}">
                    <label>Ingressi</label>
                    <textarea id="lead" name="lead" th:text="${#strings.replace(lead, '&#10;', '&#10;&#10;')}"></textarea>
                </div>
                <div th:with="text=${ccontent == null}? ${article.content} : ${ccontent}">
                    <label>Teksti</label>
                    <textarea id="content" name="content" th:text="${#strings.replace(text, '&#10;', '&#10;&#10;')}"></textarea>
                </div>
                
                <input type="submit" value="ok" />
            </form>
        </div>
    </body>
</html>

