<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Juutiset - uutiset</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <article th:each="article : ${articles}" class="col-9">
                    <header>
                        <h3 th:text="${article.title}"></h3>
                    </header>
                    <section class="lead">
                        <img th:src="@{/picture/{id}(id=${article.thumb.id})}" />
                        <small>
                            <p th:utext="${#strings.replace(#strings.escapeXml(article.lead), '&#10;', '</p><p>')}"></p>
                        </small>
                    </section>
                </article>
            </div>
        </div>
    </body>
</html>
