<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div layout:fragment="content">
            <h4 th:text="${title}"></h4>
            <table id="list">
                <tr>
                    <th class="published">Julkaistu</th>
                    <th class="title">Otsikko</th>
                </tr>
                <tr th:each="article : ${articles}">
                    <td  th:text="${#temporals.format(article.published, 'd.M. yyyy HH:mm')}"></td>
                    <td th:text="${article.title}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
