<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div layout:fragment="content" id="login">
            <form method="post" th:action="@{/kirjaudu}">
                <label>Käyttäjätunnus</label>
                <div>
                    <input type="text" name="username"/>
                </div>
                <label>Salasana</label>
                <div>
                    <input type="password" name="password"/>
                </div>
                <div>
                    <input type="submit" value="ok" />
                </div>
            </form>
        </div>
    </body>
</html>
